h1 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $xxxx-large;
    color: $raising-black;
}

h2 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $xx-large;
    text-align: center;
}

p {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $medium;
    color: $nickel;
}

a {
    font-family: $open-sans;
    font-weight: 400;
    color: $nickel;
    line-height: 25px;
}

h3 {
    font-family: $raleway;
    font-weight: $bold;
    font-size: $x-large;
}