@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,700&display=swap');
$raleway: 'Raleway',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
// Esquema de colores 
// Primer esquema de color
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;
// Segundo esquema de color 
$dark-salmon: #EE9480;
$melon: #F4BAAE;
$pale-pink: #FADFDA;
// Tercer esquema de color
$ball-blue: #2AB7CA;
$middle-blue: #77D1DD;
$blue-lagoon: #B1E4EB;
// Cuarto esquema de color
$onyx: #333745;
$spanish-gray: #8F9199;
$lavander-gray: #C7C8CC;
// Quinto esquema de color
$raising-black: #221D23;
$nickel: #726F73;
$silver-chalice: #AEACAF;
// Tipografia
$raleway: 'Raleway',
sans-serif;
$open-sans: 'Open Sans',
sans-serif;
// Peso de fuentes
$regular: 400;
$bold: 700;
// Tamaño de fuentes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;